<section class="auxiliary">
  <div class="items">
    <div class="connect">
      <ul class="social-icons">
        {% for social in site.data.social %}    
        <li class="{{ social.name | downcase }}">
          <a href="{{ social.url }}" target="new" rel="no-opener">
            <span {% if social.icon %}class="sr-only"{% endif %}>{{ social.name }}</span>
          </a>         
        </li>
        {% endfor %}
      </ul>    
    </div>
    <div class="details">
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#110;&#105;&#99;&#107;&#64;&#116;&#104;&#101;&#99;&#97;&#110;&#99;&#101;&#114;&#106;&#111;&#117;&#114;&#110;&#101;&#121;&#109;&#97;&#110;&#46;&#99;&#111;&#46;&#117;&#107;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#67;&#104;&#105;&#112;&#112;&#121;&#87;&#101;&#108;&#108;&#70;&#101;&#115;&#116;&#37;&#50;&#48;&#119;&#101;&#98;&#115;&#105;&#116;&#101;&#37;&#50;&#48;&#101;&#110;&#113;&#117;&#105;&#114;&#121;">Nick Parker</a><br>
      telephone number
    </div>
  </div>
</section>
<section class="data">
  <div>
    <details>
      <summary>Cookie Policy</summary>
      <hr>
      <strong>Helpful privacy advice.</strong>
      <p>Cookies are text files placed on your computer to collect standard internet log information and visitor behaviour information. This information is used to track visitor use of the website and to compile statistical reports on website activity.</p>
      <p>For further information visit www.aboutcookies.org or www.allaboutcookies.org.</p>
      <p>You can set your browser not to accept cookies and the above websites tell you how to remove cookies from your browser. However in a few cases some of our website features may not function as a result.</p>
      <strong>Analytics cookies</strong>
      <p>These monitor how visitors move around our website and how they reached it. This is used so that we can see total (not individual) figures on which types of content users enjoy most for instance. You can opt out of these if you want</p>
      <strong>Cookie usage</strong>
      <p>First party cookies set by this domain</p>
        <table class="cookie-table">
        <thead>
          <tr>
            <th style="text-align: left;">Cookie name</th>
            <th style="text-align: left;">Type</th>
            <th style="text-align: left;">Expires</th>
            <th style="text-align: left;">Purpose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left;">__utma</td>
            <td style="text-align: left;">Persistent cookie</td>
            <td style="text-align: left;">2 years from set/update</td>
            <td style="text-align: left;">Used by Google Analytics to distinguish users and sessions. The cookie is created when the javascript library executes and no existing __utma cookies exists. The cookie is updated every time data is sent to Google Analytics.</td>
          </tr>
          <tr>
            <td style="text-align: left;">__utmb</td>
            <td style="text-align: left;">Persistent cookie</td>
            <td style="text-align: left;">30 mins from set/update</td>
            <td style="text-align: left;">Used by Google Analytics to determine new sessions/visits. The cookie is created when the javascript library executes and no existing __utmb cookies exists. The cookie is updated every time data is sent to Google Analytics.</td>
          </tr>
          <tr>
            <td style="text-align: left;">__utmc</td>
            <td style="text-align: left;">Session cookie</td>
            <td style="text-align: left;">End of browser session</td>
            <td style="text-align: left;">Not used by Google Analytics in ga.js. Set for interoperability with urchin.js. Historically, this cookie operated in conjunction with the __utmb cookie to determine whether the user was in a new session/visit.</td>
          </tr>
          <tr>
            <td style="text-align: left;">__utmt</td>
            <td style="text-align: left;">Persistent cookie</td>
            <td style="text-align: left;">10 minutes</td>
            <td style="text-align: left;">Used by Google Analytics to throttle request rate. (Prevents Google Analytics from being overwhelmed by too many requests)</td>
          </tr>
          <tr>
            <td style="text-align: left;">__utmz</td>
            <td style="text-align: left;">Persistent cookie</td>
            <td style="text-align: left;">6 months from set/update</td>
            <td style="text-align: left;">Used by Google Analytics to store the traffic source or campaign that explains how the user reached your site. The cookie is created when the javascript library executes and is updated every time data is sent to Google Analytics.</td>
          </tr>
        </tbody>
      </table>
    </details>    
  </div>
</section>