<aside aria-label="secondary menu">
  <button aria-haspopup="true" aria-expanded="false" aria-controls="secondary-navigation" class="🍄">
    <span aria-hidden="true">&#9776;</span>
    <p>Menu</p>
  </button>
  <nav aria-label="secondary" id="secondary-navigation" data-hidden="true">
    <ul>
      {% for item in site.data.navigation.secondary %}
        <li>
          <a href="#{{ item.name | slugify }}">
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>