footer {
  .big-book {
    display: block;
    width: 100%;
    font: {
      size: calc(2.35rem + 1vmin);
      weight: 300;
    }    
    color: $black;
    text: {
      decoration: none;
      transform: uppercase;
      align: center;
    }
    padding: 1rem;
    background-color: $green;
    strong {
      display: inline-block;
      position: relative;
      font-style: normal;
      font-weight: 600;
      &::after {
        content: '';
        pointer-events: none;
        speak: none;
        position: absolute;
        z-index: 0;
        display: inline-block;
        backface-visibility: visible;          
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 7px;          
        background: {
          image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="147" height="7"><path fill="#ff7dff" d="M145 0H5.8C4.2 0 3.7 1.5 4.1 2.7c-.7.1-1.4.2-2.1.2C.9 3 0 3.9 0 5c0 1 1 2.1 2.1 2 17.8-1.8 35.6-2.4 53.5-2.7 5.1-.1 84.4-.2 89.5-.2 2.6-.1 2.5-4.1-.1-4.1z"/></svg>');
          repeat: no-repeat;
          size: contain;
          position-x: right;
        }
      }        
    }      
    @media (min-width: 768px) {
      &:hover, &:focus {
        strong {
          color: $pink;
          &::after {
            background: {
              image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="147" height="7"><path fill="#000000" d="M145 0H5.8C4.2 0 3.7 1.5 4.1 2.7c-.7.1-1.4.2-2.1.2C.9 3 0 3.9 0 5c0 1 1 2.1 2.1 2 17.8-1.8 35.6-2.4 53.5-2.7 5.1-.1 84.4-.2 89.5-.2 2.6-.1 2.5-4.1-.1-4.1z"/></svg>');
            }
          }
        }
      }
    }
  }
  .sponsors {
    background-color: $light-grey;
    h3 {
      margin: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;      
      li:nth-child(3) {
        background-color: red;
        float: left;
        a {
          background-color: green;   
        }
      }      
    }
  }
  .auxiliary {
    padding: 1rem;  
    background-color: $yellow;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    address {
      display: inline-block; 
      font-style: normal;     
    }
    p {
      margin: 0;
    }
  }
}