footer {
  background-color: $light-grey;
  margin-bottom: 4.5rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  .big-book {
    display: block;
    width: 100%;
    font: {
      size: calc(2.35rem + 1vmin);
      weight: 300;
    }    
    color: $black;
    text: {
      decoration: none;
      transform: uppercase;
      align: center;
    }
    padding: 1rem;
    background-color: $green;
    strong {
      display: inline-block;
      position: relative;
      font-style: normal;
      font-weight: 600;
      &::after {
        @extend %has-decoration;
      }      
      &::after {
        content: '';
        z-index: 0;        
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 7px;          
        background: {
          image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="147" height="7"><path fill="#ff7dff" d="M145 0H5.8C4.2 0 3.7 1.5 4.1 2.7c-.7.1-1.4.2-2.1.2C.9 3 0 3.9 0 5c0 1 1 2.1 2.1 2 17.8-1.8 35.6-2.4 53.5-2.7 5.1-.1 84.4-.2 89.5-.2 2.6-.1 2.5-4.1-.1-4.1z"/></svg>');
          repeat: no-repeat;
          size: contain;
          position-x: right;
        }
      }        
    }      
    @media (min-width: 768px) {
      &:hover, &:focus {
        strong {
          color: $pink;
          &::after {
            background: {
              image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="147" height="7"><path fill="#000000" d="M145 0H5.8C4.2 0 3.7 1.5 4.1 2.7c-.7.1-1.4.2-2.1.2C.9 3 0 3.9 0 5c0 1 1 2.1 2.1 2 17.8-1.8 35.6-2.4 53.5-2.7 5.1-.1 84.4-.2 89.5-.2 2.6-.1 2.5-4.1-.1-4.1z"/></svg>');
            }
          }
        }
      }
    }
  }
  .sponsors {
    width: 80vmin;
    margin: 0 auto;    
    h3 {
      margin: 0;
      padding: 1rem;
      text-align: center;
    }
    ul {
      @extend %desktop-only-grid-12-col;      
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        text-align: center;
        padding: 1rem;
        a {
          min-height: 70px;
          display: block;
        }
        &:nth-child(-n+3) {
          background-color: red;
          grid-column-end: span 4;
          margin-bottom: 1rem;
        }
        &.luke-koch-de-goorenyd {
          a {
            background: {
              image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="108" height="35"><path fill="#999" d="M62.3 5c-.8-.9-1.9-1.3-3.2-1.3-1.4 0-2.5.4-3.3 1.3-.8.9-1.2 2-1.2 3.6 0 1 .2 1.8.5 2.6.4.7.9 1.3 1.6 1.7.7.4 1.5.6 2.3.6 1.4 0 2.5-.4 3.3-1.3.8-.9 1.2-2.1 1.2-3.6 0-1.6-.4-2.8-1.2-3.6zm-3.2 6.8c-1.6 0-2.4-1.1-2.4-3.3 0-1 .2-1.8.6-2.4.4-.6 1-.8 1.8-.8 1.6 0 2.4 1.1 2.4 3.2-.1 2.2-.8 3.3-2.4 3.3zM37.6 7.9c0-1.3-.4-2.4-1.1-3.1-.7-.8-1.7-1.1-2.9-1.1-1.3 0-2.4.4-3.2 1.3-.8.9-1.1 2.1-1.1 3.6s.4 2.7 1.2 3.5c.8.9 2 1.3 3.4 1.3.6 0 1.2 0 1.7-.1s1-.3 1.5-.5v-1.6c-.6.2-1.1.4-1.5.5-.5.1-1 .2-1.6.2-.8 0-1.5-.2-2-.7-.5-.5-.7-1.2-.7-2.1h6.3V7.9zm-6.3-.4c.1-.8.3-1.4.7-1.8.4-.4.9-.6 1.5-.6s1.1.2 1.5.6c.4.4.5 1 .6 1.8h-4.3zM7.9 13.2H.6V.8h2v10.7h5.3v1.7zm2.3-.6c-.5-.6-.8-1.5-.8-2.6V3.8h2v5.8c0 .7.1 1.3.4 1.6.3.4.8.5 1.4.5.8 0 1.5-.3 1.8-.8.4-.5.6-1.3.6-2.5V3.8h2v9.4H16l-.2-1.2h-.1c-.3.4-.7.8-1.2 1-.5.2-1.1.4-1.8.4-1 0-1.9-.3-2.5-.8zm12 .6h-2V0h2v6.5l-.1 1.8h.1l1.1-1.4 2.8-3h2.3l-3.8 4 4 5.4h-2.3l-3-4.1-1.1.8v3.2zm29.5 0l-3.9-5.6-1.2 1v4.7h-2V.8h2v5.9c.6-.7 1.1-1.3 1.7-2l3.4-4H54c-2.2 2.6-3.7 4.4-4.7 5.5l4.8 7h-2.4zm14.3-1c-.7-.8-1.1-2-1.1-3.6s.4-2.8 1.2-3.6c.8-.9 1.9-1.3 3.4-1.3 1 0 1.9.2 2.7.6l-.6 1.6c-.8-.3-1.5-.5-2.1-.5-1.6 0-2.4 1.1-2.4 3.2 0 1.1.2 1.8.6 2.4.4.5 1 .8 1.8.8.9 0 1.7-.2 2.5-.7v1.7c-.4.2-.7.4-1.1.5-.4.1-.9.1-1.5.1-1.6 0-2.7-.4-3.4-1.2zm16.4-5.1v6.1h-2V7.5c0-.7-.1-1.3-.4-1.6-.3-.4-.8-.5-1.4-.5-.8 0-1.5.3-1.8.8-.4.5-.6 1.3-.6 2.5v4.7h-2V0h2v3.4c0 .5 0 1.1-.1 1.7h.1c.3-.5.7-.8 1.1-1.1.5-.2 1.1-.4 1.7-.4 2.2.1 3.4 1.2 3.4 3.5zm13.2-3.7c0 .4 0 .9.1 1.6h-.1c-.6-.9-1.6-1.4-2.8-1.4-1.2 0-2.1.4-2.8 1.3-.7.9-1 2.1-1 3.6s.3 2.7 1 3.6c.7.9 1.6 1.3 2.7 1.3 1.2 0 2.2-.5 2.8-1.4h.1l.3 1.2h1.6V0h-2v3.4zm.1 5.4c0 1-.2 1.8-.6 2.2-.4.5-1 .7-1.8.7-.7 0-1.3-.3-1.7-.8-.4-.5-.6-1.3-.6-2.4 0-1.1.2-1.9.6-2.4.4-.6.9-.9 1.6-.9.8 0 1.4.2 1.8.7.4.5.6 1.3.6 2.5v.4zm12.2-.9c0-1.3-.4-2.4-1.1-3.1-.7-.8-1.7-1.1-2.9-1.1-1.3 0-2.4.4-3.2 1.3-.8.9-1.1 2.1-1.1 3.6s.4 2.7 1.2 3.5c.8.9 2 1.3 3.4 1.3.6 0 1.2 0 1.7-.1s1-.3 1.5-.5v-1.6c-.6.2-1.1.4-1.5.5-.5.1-1 .2-1.6.2-.8 0-1.5-.2-2-.7-.5-.5-.7-1.2-.7-2.1h6.3V7.9zm-6.2-.4c.1-.8.3-1.4.7-1.8.4-.4.9-.6 1.5-.6s1.1.2 1.5.6c.4.4.6 1 .6 1.8h-4.3zm-96 16.4h4.6v6.2c-.7.2-1.5.4-2.2.5s-1.4.2-2.2.2c-1.9 0-3.3-.6-4.4-1.7C.5 28 0 26.5 0 24.4c0-2 .6-3.6 1.7-4.7C2.9 18.6 4.5 18 6.5 18c1.3 0 2.5.2 3.7.7l-.7 1.7c-1-.5-2-.7-3-.7-1.3 0-2.4.4-3.1 1.3-.8.8-1.2 2-1.2 3.4 0 1.5.3 2.7 1 3.5.7.8 1.7 1.2 3 1.2.7 0 1.4-.1 2.1-.2v-3.2H5.7v-1.8zm10.6-2.8c-1.4 0-2.5.4-3.3 1.3-.8.9-1.2 2-1.2 3.6 0 1 .2 1.8.5 2.6.4.7.9 1.3 1.6 1.7.7.4 1.5.6 2.3.6 1.4 0 2.5-.4 3.3-1.3.8-.9 1.2-2.1 1.2-3.6s-.4-2.7-1.2-3.5c-.8-1-1.9-1.4-3.2-1.4zm0 8.1c-1.6 0-2.4-1.1-2.4-3.3 0-1 .2-1.8.6-2.4.4-.6 1-.8 1.8-.8 1.6 0 2.4 1.1 2.4 3.2-.1 2.2-.9 3.3-2.4 3.3zm10.3-8.1c-1.4 0-2.5.4-3.3 1.3-.8.9-1.2 2-1.2 3.6 0 1 .2 1.8.5 2.6.4.7.9 1.3 1.6 1.7.7.4 1.5.6 2.3.6 1.4 0 2.5-.4 3.3-1.3.8-.9 1.2-2.1 1.2-3.6s-.4-2.7-1.2-3.5c-.8-1-1.9-1.4-3.2-1.4zm-.1 8.1c-1.6 0-2.4-1.1-2.4-3.3 0-1 .2-1.8.6-2.4.4-.6 1-.8 1.8-.8 1.6 0 2.4 1.1 2.4 3.2 0 2.2-.8 3.3-2.4 3.3zm10.9-8.1c.4 0 .7 0 1 .1l-.2 1.8c-.3-.1-.6-.1-.9-.1-.8 0-1.4.3-1.9.8s-.7 1.2-.7 2v4.9h-2v-9.4h1.6l.3 1.7h.1c.3-.6.7-1 1.2-1.3.3-.4.9-.5 1.5-.5zm6.1 0c-1.3 0-2.4.4-3.2 1.3-.8.9-1.1 2.1-1.1 3.6s.4 2.7 1.2 3.5c.8.9 2 1.3 3.4 1.3.6 0 1.2 0 1.7-.1s1-.3 1.5-.5v-1.6c-.6.2-1.1.4-1.5.5-.5.1-1 .2-1.6.2-.8 0-1.5-.2-2-.7-.5-.5-.7-1.2-.7-2.1h6.3v-1.1c0-1.3-.4-2.4-1.1-3.1-.7-.8-1.7-1.2-2.9-1.2zM41.3 25c.1-.8.3-1.4.7-1.8.4-.4.9-.6 1.5-.6s1.1.2 1.5.6c.4.4.5 1 .6 1.8h-4.3zm16.1-.5v6.1h-2v-5.8c0-.7-.1-1.3-.4-1.6-.3-.4-.8-.5-1.4-.5-.8 0-1.5.2-1.9.7-.4.5-.6 1.3-.6 2.5v4.7h-2v-9.4h1.6l.3 1.2c.3-.4.7-.8 1.2-1 .5-.2 1.1-.4 1.7-.4 2.3.1 3.5 1.2 3.5 3.5zm8.1-3.3h2.2l-4 10.7c-.7 2-2 2.9-3.7 2.9-.4 0-.9 0-1.3-.1v-1.6c.3.1.6.1 1 .1 1 0 1.6-.6 2-1.7l.3-.9-3.8-9.4h2.2l1.9 5.3c.3.8.5 1.5.6 2.1h.1c.1-.3.1-.7.3-1.1.2-.4.9-2.5 2.2-6.3zm9.3-.4c0 .4 0 .9.1 1.6h-.1c-.6-.9-1.6-1.4-2.8-1.4-1.2 0-2.1.4-2.8 1.3-.7.9-1 2.1-1 3.6s.3 2.7 1 3.6c.7.9 1.6 1.3 2.7 1.3 1.2 0 2.2-.5 2.8-1.4h.1l.3 1.2h1.6V17.4h-2v3.4zm.1 5.5c0 1-.2 1.8-.6 2.2-.4.5-1 .7-1.8.7-.7 0-1.3-.3-1.7-.8-.4-.5-.6-1.3-.6-2.4 0-1.1.2-1.9.6-2.4.4-.6.9-.9 1.6-.9.8 0 1.4.2 1.8.7.4.5.6 1.3.6 2.5v.4z"/></svg>');
              repeat: no-repeat;
              size: contain;
              position: center;
            }
          }            
        }          
        grid-column-end: span 3;
      }    
    }
  }
  .auxiliary {
    padding: 1rem;  
    background-color: $yellow;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    address {
      display: inline-block; 
      font-style: normal;     
    }
    p {
      margin: 0;
    }
  }
}