[aria-label="speakers"] {
  width: 80vw;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  figure {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    img {
      flex: 1 0 auto;
      max-width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-align: left; 
    }    
  }

  ul.timings {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    li {
      list-style: none;
      padding: 0;
      text-align: center;
      background: none;
    }
  }

  nav {
    position: relative;
    justify-content: space-between;
    padding: 3rem 0;
    button {
    }
  }

}

.image-slider-wrapper {
  position: relative;
  width: 100%;
  .swiper-slide img {
    object-fit: cover;
  }
}

.details-slider-wrapper {
  width: 60vw;
  margin: auto;
}