[aria-label="speakers"] {
  width: 80vw;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    align-self: center;
  } 
  figure {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    img {
      flex: 1 0 auto;
      max-width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-align: left; 
    }    
  }
  @media (min-width: 768px) {
    .swiper-slide {
      width: 95%;
    }
  }
  ul.timings {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    &:before, &:after {
      @extend %has-decoration;
    }
    &:after {
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(0, 2.5rem) perspective(0);
      width: 90%;
      height: 26px; 
      margin: 0 auto;         
      background: {
        image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="767.3" height="21.1"><path fill="#c3f300" d="M761.2 0H439.8C268.2 0 87.4 0 60.5.1h-43c-4.8 0-6.6 4.6-5.4 8.1-2 .2-4.1.4-6.1.6-3.3.3-6 2.8-5.9 6.3.1 3.1 3 6.3 6.3 5.9 53.6-5.4 107.4-7.2 161.2-8.1 15.2-.3 578.8-.5 594.1-.7 7.7-.1 7.4-12.2-.5-12.2z"/></svg>');
        repeat: no-repeat;
        size: contain;
        position-x: center;
      }
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    li {
      list-style: none;
      padding: 0;
      text-align: center;
      background: none;
      transition: all 400ms 5ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition-property: transform, opacity, color;
      font-size: 1.2rem;
      &.swiper-pagination-bullet {
        &:hover, &:focus, &-active  {
          outline: none;
          opacity: 1;
          transform: scale(1.85);
        }
        &-active {
          font-weight: bold;
          // order: -100;
        }
      }
    }
  }
  nav {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    @media (min-width: 768px) {
      padding: 1rem 0 3rem 0;
    }
    button {
      position: relative;
      border: 0;
      margin: 0;
      padding: 0;
      width: 25px;
      height: 40px;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
      appearance: none;
      cursor: pointer;
      transition: all 200ms 1ms ease;
      transition-property: transform, top;       
      background: {
        image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="90" height="40"><path fill="#{$yellow}" d="M41.8 31.5c-4.7-1.2-9.5-2.5-14.2-3.8-3.8-1.1-7.6-2.1-11.4-3.3-1.2-.4-3.8-1.7-5.7-2.2 2.9-2 6.5-3.4 9.8-4.8 7.3-3 15.2-5.3 22.1-9.3 4.9-2.9.4-10.3-4.5-7.4-8.1 4.7-17.5 7.1-26.1 11-5.3 2.4-15.3 7.7-10.5 14.8 3.5 5.2 13.8 6.6 19.4 8.2 6.2 1.8 12.5 3.5 18.7 5.1 5.6 1.5 8-6.9 2.4-8.3zm-32.9-8zm69.2-11.8c-8.5-3.9-18-6.3-26.1-11-4.9-2.9-9.4 4.6-4.5 7.4 6.8 4 14.7 6.3 22.1 9.3 3.3 1.4 6.9 2.7 9.8 4.8-1.8.5-4.4 1.9-5.7 2.2-3.8 1.2-7.6 2.2-11.4 3.3-4.7 1.3-9.4 2.6-14.2 3.8-5.6 1.4-3.2 9.7 2.4 8.3 6.3-1.6 12.5-3.3 18.7-5.1 5.7-1.6 15.9-3 19.4-8.2 4.9-7.1-5.1-12.4-10.5-14.8zm3 11.7c0 .1 0 .1 0 0 0 .1 0 .1 0 0z"/></svg>');
        repeat: no-repeat;
        size: 200%;
        position: center;
        color: transparent;
      }
      &.swiper-button-prev {
        background-position-x: left;
        &:hover, &:focus {
          transform: translateX(-5px);
        }        
      }
      &.swiper-button-next {
        background-position-x: right;
        &:hover, &:focus {
          transform: translateX(5px);
        }
      }
      &:hover, &:focus {
        outline: none;
      }
      &:active {
        top: 5px;
      }
      @media (min-width: 768px) {
        width: 45px;
      }
    }
  }
}

.image-slider-wrapper {
  cursor: move;
  position: relative;
  width: 100%;
  .swiper-slide img {
    object-fit: cover;
  }
}

.details-slider-wrapper, .swiper-container, [aria-label="speakers"] nav, .details-date-wrapper {
  width: 100%;
  margin: auto;
  @media (min-width: 768px) {
    width: 60vw;
  }
}

.details-date-wrapper {
  margin-top: 3rem;
  h3 {
    margin: 0;
    text-transform: uppercase;
    font: {
      size: calc(1rem + 1vmin);
      weight: 300;
    }    
  }
}

[aria-label="speakers"] nav {
  width: 75vw;
}

.speaker-details {
  padding-top: 2rem;
  strong {
    text-transform: uppercase;
    font: {
      size: calc(.8rem + 1vmin);
      weight: 700;
    }
    ~ em {
      font: {
        size: calc(.8rem + 1vmin);
        weight: 300;
        style: normal;
      }      
    }
  }
}
