<h3>Sign up for first access to ChippyWellFest updates.</h3>
<p>Stay in the loop and be first to know when tickets are made available for future events.</p>
<form action="https://chippywellfest.us17.list-manage.com/subscribe/post?u=95733eb29b97b9fb20959e699&amp;id=3ae0d81802" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<fieldset class="full-name">
		<legend class="sr-only">Your name:</legend>
		<div>
			<div class="first-name">
				<label for="mce-FNAME">First Name:<span class="optional">&#32;<small>(optional)</small></span></label>
				<input type="text" name="FNAME" id="mce-FNAME" autocomplete="given-name" aria-label="First name" pattern="[a-zA-Z0-9À-ž\s\-]+" title="Only alphanumeric characters, spaces and hyphens allowed" />
				<span></span>
			</div>
			<div class="last-name">
				<label for="mce-LNAME">Last Name:<span class="optional">&#32;<small>(optional)</small></span></label>
				<input type="text" name="LNAME" id="mce-LNAME" autocomplete="family-name" aria-label="Last name" pattern="[a-zA-Z0-9À-ž\s\-]+" title="Only alphanumeric characters, spaces and hyphens allowed" />
				<span></span>
			</div>
		</div>
	</fieldset>
	<div>
		<label for="mce-EMAIL">Email:<span class="required">&#32;<small>(required)</small></span></label>
		<div class="email">
			<input type="email" name="EMAIL" id="mce-EMAIL" autocomplete="email" placeholder="example@youremail.com" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" />
			<button name="subscribe" id="mc-embedded-subscribe" type="submit">Sign up</button>
			<span></span>
		</div>
	</div>
	<div style="position: absolute; left: -5000px;" aria-hidden="true">
		<input type="text" name="b_95733eb29b97b9fb20959e699_3ae0d81802" tabindex="-1" value="">
	</div>	
</form>