<!-- Begin Mailchimp Signup Form -->
		<h3>Sign up for first access to ChippyWellFest updates.</h3>
		<p>Stay in the loop and be first to know when tickets are made available for future events.</p>
		<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="search-form validate" target="_blank" novalidate>
			<fieldset class="fieldset" name="interestgroup_field">
				<label for="mce-EMAIL">Email:</label>
				<div>
					<input type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="example@youremail.com" />
					<button name="subscribe" class="" id="mc-embedded-subscribe" type="submit">Sign up</button>
				</div>
				<label class="checkbox subfield" for="gdpr_357">
				<input type="checkbox" id="gdpr_357" name="gdpr[357]" value="Y">
				<span><small>Yes, I would like you to stay in touch by email</small></span>
				</label>
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_504d59229ddfb3cc863891a1b_f67cb34d4c" tabindex="-1" value="">
				</div>	
			</fieldset>
		</form>
<!--End mc_embed_signup-->

