<section class="pinch segment" id="donate">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="donate"
        format="png"
      %}
    </picture>
  </figure>  
  <div class="content">
    <div class="padding">
      <h2>How you can help</h2>
      <p>We believe in the power of community to make real change. We are growing a movement to help people stick with their journeys and to reach more people. We need your help to do it.</p>
      <p>We are a not-for-profit event, and to keep educating and inspiring, we need funding. Your donations make it possible.</p>
      {% include
        /components/button.html
        link=site.donate_link
        cta="Donate"
        class="blue-surprise"
        target="new"
        rel="noopener external"
      %}
    </div>
  </div>
</section>