<section class="pinch segment" id="find">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="you"
        format="jpg"
        has-webp=true
      %}
    </picture>
  </figure>
  <div class="content">
    <h2>
      Find us
    </h2>
    <div class="split-paragraphs">
      <strong>Address</strong>
      <p>ChippyWellFest 2018 is the beginning.</p>
      <strong>Trian</strong>
      <p>We are a not-for-profit event, built by community and founded by Nick Parker (The Cancer Journeyman) whose positive belief and lifestyle overhaul are the inspiration behind this event.</p>
    </div>    
  </div>
</section>