<section class="pinch segment" id="find">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="map"
        format="png"
        alt="Chipping Norton on the map"
      %}
    </picture>
  </figure>
  <div class="content">
    <h2>
      Attend
    </h2>
    <div class="split-paragraphs">
      <div>
        <h3>Venue</h3>
        <address>
          <p>
            Chipping Norton Theatre,<br>2 Spring Street,<br>Chipping Norton <a href="https://www.google.com/maps/dir/Current+Location/OX7+5NL" target="new" rel="noopener external">OX7 5NL</a>
          </p>
        </address>
      </div>
      <div>
        <h3>Train (Kingham)</h3>
        <p>Direct trains from Oxford, London Paddington and Worcester</p>
      </div>
    </div>    
  </div>
</section>