<section class="pinch segment" id="find">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="map"
        format="png"
        alt="Chipping Norton on the map"
      %}
    </picture>
  </figure>
  <div class="content">
    <h2>
      Find us
    </h2>
    <div class="split-paragraphs">
      <div>
        <h3>Address</h3>
        <address>
          <p>
            Chipping Norton Theatre 2 Spring Street, Chipping Norton OX7 5NL
          </p>
        </address>
      </div>
      <div>
        <h3>Train (Kingham)</h3>
        <p>Direct trains from Oxford, London Paddington and Worcester</p>
      </div>
    </div>    
  </div>
</section>