<section class="pinch segment" id="future">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="join"
        format="jpg"
        has-webp=true
        alt="Closeup of open hands"
      %}
    </picture>
  </figure>  
  <div class="content">
    <div class="padding">
      <h2>There's more <wbr>to come</h2>
      <p>We will be launching other lifestyle health events in the community in the coming months. These events will be designed to inspire those of us who wish to maintain (or those who want to begin) new health journeys.</p>
      <p>Please <a href="mailto:#">email us</a> to let us know your ideas for new community lifestyle health activities.</p>
      {% include
        /components/form.html
      %}
    </div>
  </div>
</section>