<section class="pinch segment" id="join">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="join"
        format="jpg"
        has-webp=true
      %}
    </picture>
  </figure>  
  <div class="content">
    <h2>Join our community</h2>
    <p>Hear all the latest news via your inbox</p>
    {% include
      /components/button.html
      link=site.mailchimp_link
      cta="Sign up now"
    %}
    <p>Share your journey and support others @ChippyWellFest18 on Instagram and share your journey with #ChippyWellFest</p>
    <p>Keep up to date with plans for the day at facebook.com/chippywellfest</p>
    <ul class="social-icons">
      {% for social in site.data.social %}    
      <li class="{{ social.name | downcase }}">
        <a href="{{ social.url }}" target="new" rel="no-opener">
          <span {% if social.icon %}class="sr-only"{% endif %}>{{ social.name }}</span>
        </a>         
      </li>
      {% endfor %}
    </ul> 
  </div>
</section>