<section class="pinch segment segment--not-shouty" id="join"> 
  <div class="content">
    <h2>Join our <wbr>community</h2>
    <p><a class="button" href="#mc-embedded-subscribe-form">By <strong>signing up</strong> to our email.</a></p>
    <p>
      Transforming your lifestyle, health and wellbeing is no small feat, but with the supportive power of community, we can succeed. The support of like-minded people is the secret weapon to staying on track with your goals.  
    </p>
    <p>
      Find us on <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="new" rel="noopener external">Instagram</a> and share your wellbeing journey using <a href="https://www.instagram.com/explore/tags/chippywellfest/" target="new" rel="noopener external">#ChippyWellFest</a>, plus discover other members of our community working towards similar goals.  
    </p>
    <p>
      Check out our <a href="{{ site.medium_link }}" target="new" rel="noopener external">blog</a> for wellbeing information from our experts, insights and news and stay up-to-date with all things ChippyWellFest via <a href="https://www.facebook.com/ChippyWellFest/" target="new" rel="noopener external"><span>Facebook</span></a>.
    </p>
  </div>
</section>