<section class="pinch segment" id="together">
  <h2>
    <em>Together</em>,<br>we’re just<br>getting <em>started</em>
  </h2>
  <div class="content">
    <p>ChippyWellFest 2018 is the beginning.</p>
    <p>We are a not-for-profit event, built by community and founded by Nick Parker (The Cancer Journeyman) whose positive belief and lifestyle overhaul are the inspiration behind this event.</p>
    <p>Our stories are many and varied. We share the belief that a holistic approach to lifestyle, health and wellbeing, combined with the supportive power of community, will transform the quality of our lives today and for generations to come.</p>
    <p>We will be launching other lifestyle health events in the community in the months following ChippyWellFest 2018.  These events will be designed to inspire those of us who wish to maintain new health journeys.</p>
  </div>
</section>