<section class="pinch segment" id="together">
  <div class="content">
    <h2>
      <em>Together</em>,<br> we’re just<br><span>getting <em>started</em></span>
    </h2>    
    <div class="split-paragraphs">
      <p>We are a not-for-profit event, built by community and founded by Nick Parker <a href="https://www.thecancerjourneyman.co.uk/" target="new" rel="external noopener">(The Cancer JourneyMan)</a>  whose positive belief and lifestyle overhaul are the inspiration behind this event.</p>
      <p>Our stories are many and varied. We share the belief that a holistic approach to lifestyle, health and wellbeing, combined with the supportive power of community, will transform the quality of our lives today and for generations to come.</p>
      <p>We will be launching other lifestyle health events in the community in the months following ChippyWellFest 2018.  These events will be designed to inspire those of us who wish to maintain new health journeys.</p>
      <p>Please <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#110;&#105;&#99;&#107;&#64;&#116;&#104;&#101;&#99;&#97;&#110;&#99;&#101;&#106;&#111;&#117;&#114;&#110;&#101;&#121;&#109;&#97;&#110;&#46;&#99;&#111;&#46;&#117;&#107;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#67;&#111;&#109;&#109;&#117;&#110;&#105;&#116;&#121;&#37;&#50;&#48;&#108;&#105;&#102;&#101;&#115;&#116;&#121;&#108;&#101;&#37;&#50;&#48;&#115;&#117;&#103;&#103;&#101;&#115;&#116;&#105;&#111;&#110;" rel="external noopener">let us know your ideas</a> for new community lifestyle health activities involving any of the following:</p>
      <ul class="inline-space-saver">
        <li><p>Workplaces</p></li>
        <li><p>Schools</p></li>
        <li><p>Workshops</p></li>
        <li><p>Public Spaces</p></li>
        <li><p>Shops</p></li>
        <li><p>Restaurants</p></li>
        <li><p>Gardens</p></li>
      </ul>   
    </div>
  </div>
</section>