<section class="pinch segment" id="you2">
  <div class="content">
    <div class="padding">
      <h2>
        Together, we’re just <span>getting <em>started</em></span>
      </h2> 
      <p>We are a not-for-profit event, built by community and founded by Nick Parker, <a href="https://www.thecancerjourneyman.co.uk/" target="new" rel="external noopener">The Cancer JourneyMan,</a> whose positive belief and lifestyle overhaul are the inspiration behind this event.</p>
      <p>Our stories are many and varied. We share the belief that a holistic approach to lifestyle and health, in both mind and body, combined with the supportive power of community, will transform the quality of our lives and catalyse greater public wellbeing.</p>
    </div>
  </div>
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="you"
        format="jpg"
        has-webp=true
      %}
    </picture>
  </figure>  
</section>