<section class="pinch segment" id="you">
  <figure>
    <picture>
      {% include
        /segments/image.html
        segment="you"
        format="jpg"
        has-webp=true
      %}
    </picture>
  </figure>
  <div class="content">
    <h2>
      Take a day <em>for you</em>
    </h2>
    <p>Fast-paced, yet sedentary lifestyles are affecting our health.</p>
    <p>Take this day for you, to step back and ask questions. What does my lifestyle look like? Why?</p>
    <p>Eight speakers give their time for free to help you gather the skills and holistic self-knowledge you need.</p>
    <p>Find your answers. Commit to taking the first small step towards transforming your lifestyle, health and wellbeing. Forever.</p>
    {% include
      /components/button.html
      link=site.booking_link
      cta="BOOK your place"
      class="yellow-scribble"
    %}
  </div>
</section>