<div role="region" aria-label="speakers" tabindex="0" id="speakers">
  <ul>
    {% for speaker in site.data.speaker-profiles.speaker %}    
      <li>
        <div tabindex="0" id="{{ speaker.name | slugify }}">
          <figure>
            <img src="https://via.placeholder.com/250?text={{ speaker.name }}" alt="Graphic of {{ speaker.name }}">          
            <figcaption>
              <strong>{{ speaker.name }}</strong>
              <br>
              <em>{{ speaker.role }}</em>
            </figcaption>
          </figure>
          <p>
            <b>{{ speaker.title }}</b>
            <br>
            {{ speaker.info -}}
          </p>
          {%- for social in speaker.social -%}
            <a href="https://twitter.com/{{- social.twitter -}}">@{{social.twitter}}</a>            
          {%- endfor -%}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>