<section aria-label="speakers" tabindex="0" id="speakers">
  <div class="image-slider-wrapper">
    <div class="swiper-container image-slider">
      <div class="swiper-wrapper">
          {% for speaker in site.data.speaker-profiles.speaker %}    
            <div class="swiper-slide">
              <figure>
                <picture>
                  {%- assign speakerIMG = speaker.name | downcase | slugify -%}
                  {%- assign speakerALT = speaker.name | prepend: 'Portrait shot of ' -%}
                  {% include
                    /segments/image.html
                    segment=speakerIMG
                    format="jpg"
                    alt=speakerALT
                    has-webp=true
                  %}
                </picture>
              </figure>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>  
  <nav>
    <button class="swiper-button-prev" tabindex="1"><span class="sr-only">Previous</span></button>
    <!-- <ul class="swiper-pagination timings"></ul> -->
    <button class="swiper-button-next" tabindex="1"><span class="sr-only">Next</span></button>
  </nav>
  <div class="details-slider-wrapper">
    <div class="swiper-container details-slider">
      <div class="swiper-wrapper">
          {% for speaker in site.data.speaker-profiles.speaker %}    
            <div class="swiper-slide speaker-details" id="{{ speaker.name | slugify }}">
              <strong>{{ speaker.name }}</strong> <b>– {{ speaker.role }}</b>
              <h4>{{ speaker.title }}</h4>
              <p>{{ speaker.info -}}</p>
              {%- if speaker.social -%}
                <ul class="social-icons">
                  {%- for social in speaker.social -%}
                    {% for platform in social %}                                  
                    <li class="{{ platform[0] | downcase }}">
                      <a href="{% if platform[0] == 'facebook' %}http://fb.com/{{ platform[1] }}{% else %}http://ig.com/{{ platform[1] }}{% endif %}" target="new" rel="no-opener">
                        <span {% if platform[0] %}class="sr-only"{% endif %}>{{ platform[1] }}</span>
                      </a>         
                    </li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              {%- endif -%}
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>