&#help {
  @extend %desktop-only-grid-12-col;
  @media (min-width: 768px) {
    figure {
      grid-column: 8 / span 5;
      order: 2;
    }
    .content {
      order: 1;
      grid-column: 2 / span 5;
    }        
  }
  figure {
    padding: 0;
    margin: 0;          
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      display: block;
    }          
  }
  .button {
    &.blue-surprise {
      text-decoration: none;
      &:hover, &:focus {
        color: $blue;
        &:after {
          animation: {
            name: flash;
            duration: 2s;
            fill-mode: both;
            iteration-count: infinite;
            play-state: running;
            timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
        }
      }  
      &:after {
        content: '';
        pointer-events: none;
        speak: none;
        position: absolute;
        display: inline-block;
        backface-visibility: visible;        
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(-0.9rem, 0) perspective(0);
        width: 160px;
        height: 58px;       
        background: {
          image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="160" height="58"><path fill="#{$blue}" d="M139.8 49.9c-1.3-1.5-1.5-3.8 0-5.3 1.3-1.4 3.9-1.5 5.2 0 2.4 2.9 5.2 5 8.6 6.5 1.8.8 2.2 3.6 1.3 5.2-1.1 1.9-3.2 2.2-5.1 1.4-3.8-1.9-7.3-4.5-10-7.8zm3.5-14.3l13.2-1.2c4.7-.4 4.7-8 0-7.5l-13.2 1.2c-4.7.4-4.8 8 0 7.5zm.3-20.1c5.2-2.2 9.8-5.1 13.9-9.1 3.5-3.3-1.8-8.7-5.2-5.3-3.1 3-6.7 5.5-10.6 7.1-1.8.8-3.2 2.5-2.6 4.6.4 1.8 2.6 3.4 4.5 2.7zM20.2 8.1C17.5 4.8 14 2.2 10.1.4 8.3-.4 6.1-.1 5 1.8c-.9 1.6-.5 4.3 1.4 5.1 3.4 1.5 6.2 3.6 8.6 6.5 1.3 1.5 3.9 1.4 5.2 0 1.5-1.5 1.3-3.7 0-5.3zm-3.5 14.3L3.5 23.6c-4.7.4-4.7 8 0 7.5l13.2-1.2c4.7-.4 4.8-8 0-7.5zm-.3 20.1c-5.2 2.2-9.8 5.1-13.9 9.1-3.5 3.3 1.8 8.7 5.2 5.3 3.1-3 6.7-5.5 10.6-7.1 1.8-.8 3.2-2.5 2.6-4.6-.4-1.8-2.6-3.4-4.5-2.7z"/></svg>');
          repeat: no-repeat;
          size: contain;
          position: left center;
        }          
      }       
    }
  }
}