&#join {
  &:target {
    figure {
      img {
        mix-blend-mode: darken;
      }
    }
  }
  transition: all .5s .3ms ease;
  transition-property: mix-blend-mode;
  color: $black;
  figure, .content {
    background-color: rgba($yellow,.8);
  }
  figure {
    padding: 0;
    margin: 0; 
    overflow: hidden;
    max-height: 30vh;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: grayscale(1);
    }          
  }
  .content {
    z-index: 1;
  }  
  @media (min-width: 768px) {
    display: grid;
    grid: {
      template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
    figure {
      max-height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      grid: {
        column: 1 / span 12;
      }
    }    
    .content {
      padding: 7rem calc(0.5rem + 1vmin);
      grid-column: {
        end: span 8;
      }
      display: grid;      
      grid-template-columns: repeat(6, 1fr);
      * {
        grid-column: 2 / span 6;
      }
      p {
        grid-column: 2 / span 4;
      }
    }         
  }
}